.about {
    margin-bottom: 48px;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
		// .about-content__col

		&__col {
		}
        @media(max-width: 1152px){
            grid-template-columns: repeat(1, 1fr);
        }
        @media(max-width: 768px){
            gap: 0px;
        }
}
.col {
    display: flex;
    flex-direction: column;
		// .col__about-number

		&__about-number {

		}

		// .col__about-title

		&__about-title {

		}

		// .col__about-title-alpha

		&__about-title-alpha {

-webkit-text-stroke: 2px #F0E1E1;
		}

		// .col__about-text

		&__about-text {
            font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 23px;

/* Текст */

color: #968989;
@media(max-width: 767px){
    margin-right: 60px;
}
		}

		// .col__about-img

		&__about-img {
            @media(min-width: 1153px){
                max-width: 720px;
                max-height: 430px;
            }
            @media(max-width: 768px){
display: none;
            }

            width: 100%;
            height: 100%;
		}
}
.section-number {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    
    color: #D64B58;
    margin-bottom: 18px;
}
.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    position: relative;
    
    /* Основной цвет */
    
    color: #322123;
    margin-bottom: 45px;
}
.title-alpha {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 109px;
    /* identical to box height */
    top: 50%;
    left: 0;
    z-index: -1;
    position: absolute;
    white-space: nowrap;
    /* Обводка сзади */
    color: transparent; /* прозрачный цвет букв */
    transform: translate(-30px, -50%);
}
