.certificates {
    margin-bottom: 164.4px;
    @media(max-width: 768px){
        margin-bottom: 200px;
    }
    @media(max-width: 425px){
        margin-bottom: 252px;
    }
}

.container {}

.certificates-content {

    // .certificates-content__col

    &__col {}
}

.certificates-header{
    transform: translateX(-7px);
    margin-left: 37px;
    @media(max-width: 425px){
        transform: translateX(0px);
        margin-left: 0px;
    }

}
.col {

    // .col__certificates-number

    &__certificates-number {
    }

    // .col__certificates-title

    &__certificates-title {
       
    }

    // .col__certificates-title-alpha

    &__certificates-title-alpha {}
}

.section-number {}

.title {}

.title-alpha {}

.certificates-col {
    display: flex;
    height: 1000px;
    width: 100%;
    // .certificates-col__image


    &__image {
        opacity: 0;
        transform: scale(0);
        max-width: 470px;
        max-height: 667px;
        width: 100%;
        height: 100%;
        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 30px;
        }
        @media(max-width: 1450px){
            margin-right: 0px;
            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 86px;
            }
            &:last-child {
                margin-top: 63px;
            }
        }
        @media(max-width: 500px){
            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 10px;
            }
            &:last-child {
                margin-top: 0px;
            }
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.certificates-content__col {
    display: flex;
    @media(max-width: 1450px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}