.header {
    height: 80px;
    @media(max-width: 425px){
        height: 64px;
    }
    background: #FFFFFF;
box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    width: 100%;
    padding: 15px 0;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    // .header-content__col

    &__col {}
}

.header-logo {
    @media(max-width: 425px){
        width: 98px;
    }
}

.header-nav {
    height: 100%;

}
.col-with-nav{
    transform: translate(20px, -8px);

    @media(max-width: 768px){
        display: none;
    }
}

.nav {
    height: 100%;
}

.nav-list {
    height: 100%;
}

.list {
    align-items: center;
    display: flex;
}

.list-item {
    &:not(:last-child) {
        margin-right: 57px;
    }
}

.list-link {
    
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
text-align: center;
color: #322123;
&:hover{
    text-decoration: underline;
}
padding-bottom: 10%;
}

.--active{
font-style: normal;
font-weight: 800;
color: #D64B58;
border-bottom: 2px solid #D64B58;;

}

.header-feedback {
    box-sizing: border-box;
    width: 185px;
    height: 48px;
    background: none;
    border: 1px solid #D64B58;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #D64B58;
    transition: all 0.3s;
    &:hover{
        color: #fff;
        background: #D64B58;
    }
    transform: translateY(-4px);
    @media(max-width: 768px){
        display: none;
    }
}

.header-burger {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    background: none;
    border: none;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    @media(min-width: 768px){
        display: none;
    }
  }
  /* добавляем "гамбургер" */
  .burger__line{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    transition: opacity 0.3s ease-in-out;
}
.header-burger::before,
.header-burger::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.header-burger::before{
    top: 0;
}
.header-burger::after{
    bottom: 0;
}
.header-burger--active::before{
    top:50%;
    transform: rotate(45deg);
}
.header-burger--active::after{
    bottom: auto;
    top:50%;
    transform: rotate(-45deg);
}

.header-burger--active .burger__line{
    opacity: 0;
}

.burger {
    background: rgb(242, 242, 242);
    width: auto;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 1;
    transition: all 0.5s;
    &._active{
        left: 0%;
    }
}
.burger-logo {
    margin-bottom: 5px;
    height: 35px;
    margin-bottom: 10px;
}

.burger-content {
padding: 15px 70px 15px 5px;
		// .burger-content__nav

		&__nav {
            width: 100%;
		}
}
.burger-nav {
    width: 100%;
		// .burger-nav__list

		&__list {
            width: 100%;
		}
}
.burger-list {
display: flex;
flex-direction: column;
		// .burger-list__col
width: 100%;
		&__col {
            width: 100%;
		}

		// .burger-list__item

		&__item {
            width: 100%;
            white-space: nowrap;
            margin-bottom: 20px;
		}

		// .burger-list__link

		&__link {
            font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
padding: 6px;

color: #322123;
		}
        & .--active{
            color: #D64B58;
            font-weight: 800;
        }
}

