.houses-video {
    margin-bottom: 150px;
    // .houses-video__header

    &__header {
        margin-bottom: 55px;
    }

    // .houses-video__content

    &__content {
        display: flex;
        flex-direction: column;
    }

    // .houses-video__content-col

    &__content-col {
        &:not(:last-child) {
            margin-bottom: 150px;
        }
    }

    // .houses-video__video
    .video-inside{
        position: relative;
        height: 553px;
        width: 100%;

    }
    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 1470px;
        height: 533px;
        width: 100%;

        background-image: url(../img/video-background-beta.jpg);

        z-index: -1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        video{

        }
        
    }

    // .houses-video__video-pause

    &__video-pause {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        z-index: 71;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/video-pause.svg);
    }

    // .houses-video__block

    &__block {
        max-width: 1470px;
        max-height: 473px;

        @media(max-width: 720px) {
            max-height: 573px;
        }

        @media(max-width: 425px) {
            width: 100vw;
            padding-right: 30px;
        }

        width: 100%;
        height: 100%;
        position: relative;
    }



    // .houses-video__block-content

    &__block-content {
        padding: 141px 65px 670px 65px;

        @media(max-width: 1010px) {
            padding: 141px 0px 670px 0px;
        }
    }

    // .houses-video__block-title

    &__block-title {
        @media(max-width: 690px) {
            font-size: 40px;
            line-height: 54px;
            opacity: 0.8;
            margin-bottom: 11px;
        }

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 60px;
        line-height: 82px;
        letter-spacing: 0.075em;
        opacity: 0.9;
        color: #FFFFFF;
        max-width: 887px;
        width: 100%;
        margin-bottom: 55px;
    }

    // .houses-video__block-flex

    &__block-flex {
        display: flex;
        justify-content: space-between;

        @media(max-width: 690px) {
            flex-direction: column;
        }
    }

    // .houses-video__block-text

    &__block-text {
        @media(max-width: 690px) {
            margin-bottom: 10px;

        }

        max-width: 521px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0.03em;
        opacity: 0.8;
        color: #FFFFFF;
        margin-right: 50px;

        @media(max-width: 1010px) {
            max-width: 359px;
        }

    }

    .houses-video {

        // .houses-video__block-background

        &__block-background {
            background-image: url(../img/video-background.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;

            @media(max-width: 1010px) {
                width: calc(100vw + 1px);
                transform: translateX(-30px);
            }
            @media(max-width: 425px) {
                width: calc(100vw + 30px);
                transform: translateX(-30px);
            }
        }
    }

    // .houses-video__block-button

    &__block-button {

        width: 250px;
        height: 54.92px;
        background: #D64B58;
        border: none;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        text-align: center;

        color: #FFFFFF;
        transition: all 0.3s ease-in;

        &:hover {
            background: #fff;
            color: #D64B58;
            filter: drop-shadow(0px 0px 24px #fff);
        }
        @media(max-width: 425px){
            width: 189px;
            height: 41.52px;
        }
        @media(max-width: 425px){
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
        }
        filter: drop-shadow(0px 0px 24px rgba(214, 75, 88, 0.7));

    }
}

.container {}

.houses-video-number {}

.section-number {}

.houses-video-title {}

.title {}

.houses-video-title-alpha {}

.title-alpha {}
