.houses-photo {
margin-bottom: 150px;
    // .houses-photo__content

    &__content {
    }

    // .houses-photo__content-block

    &__content-block {
    }
}
.container {
}
.photo-block {


flex-direction: column;
justify-content: center;


    // .photo-block__col

    &__col {
margin: 0 auto;
        display: flex;
        width: 970px;
        position: relative;
    }

    // .photo-block__col-col

    &__col-col {
        margin-top: 11px;
        position: relative;
    }
}
.photo-block-img {
    display: flex;
    width: 970px;
    height: 485px;
    position: relative;
    overflow: hidden;
}
.img-1 {
    background-image: url(../img/Rosenrot-2.jpg)
}

.photo-block__descr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pimage {
    width: 970px;
    height: 485px;
    min-width: 970px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.img-2 {
    background: red;
}
.img-3 {
    background: blue;
}
.photo-block-leftarrow {
    width: 50px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(-100%,-50%);
    left: 0;
    height: 50px;
    background-image: url(../img/houses-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;

}
.photo-block-rightarrow {
    width: 50px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(100%,-50%);
    right: 0;
    height: 50px;
    background-image: url(../img/houses-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.photo-block-name {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 20px;

/* Текст */

color: #968989;
}
.photo-block-text {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

/* Второй цвет */

color: #D64B58;

}
.photo-block-number {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: right;

/* Второй цвет */

color: #D64B58;
span{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: right;

/* Обводка сзади */

color: #F0E1E1;

}
}
