
.swiper{}

.swiper-container {
    position:relative;

    max-height: 970px;
}
.swiper-container > .swiper-slide__content {
  position:absolute;
  top:0;
}
.swiper-wrapper{
  display: flex;
  justify-content: center;
 align-items: center;
}
.swiper-slide {
  min-height: 434px;
  min-width: 857px;
  display:flex;
  background: #eee;
  align-items: center;
  justify-content:center;
  transition:all 200ms linear;
  filter: gray; /* для IE6-9 */  
  filter: grayscale(1); /* W3C */  
  
  &.swiper-slide-active{
    min-height: 485px;
    min-width: 970px;
    margin: 0 50px;
    background: #fc0;
    filter: none; /* для IE6-9 */  
    filter: grayscale(0); /* W3C */  
  
  }
  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.swiper-slide__content {
  height: 300px;
}

.swiper-col {
}
.container {
}
.swiper-content {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
		// .swiper-content__col

		&__col {
      display: flex;
      flex-direction: column;
      justify-content: center;
		}
}
.swiper-title {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 20px;

/* Текст */

color: #968989;
}
.swiper-subtitle {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

/* Второй цвет */

color: #D64B58;

}
.swiper-page {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: right;
color: #D64B58;
span{
color: #F0E1E1;
}
}
