.impressum {
}
.container {
}
.impressum-content {
}

.impressum-number {
}
.section-number {
}
.impressum-title {
}
.title {
}
.impressum-title-alpha {
}
.title-alpha {
}
.impressum-text {

    max-width: 741px;
    @media(max-width: 768px){
        max-width: 510px;
       }
    width: 100%;
   
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;

/* Текст */

color: #968989;
margin-bottom: 130px;
span{
    font-style: italic; /* Курсивное начертание */
    font-weight: 600;
}
a{
    text-decoration: none;
    color:currentColor;
    &:hover{
        text-decoration: underline;
    }
}
}
.impressum-main {
    margin-right: 29px;
    transform: translateX(37px);
}
.impressum-col-title{
    margin-bottom: 88px;

}
p{
    margin-bottom: 20px;
}
